<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.approval.ApprovalDaoImpl">
	
	<select id="selectAllDoc" resultType="DocVo">
		SELECT APP_DOC_NO, APP_DOC_ST, TO_CHAR(APP_DOC_REG_DT, 'YYYY-MM-DD HH:MM') APP_DOC_REG_DT, APP_DOC_TITLE, EMP_NO, FORM_NO
			FROM "C##WG".APPROVAL_DOCUMENT
	</select>
	
	<select id="selectOneDoc" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT a.APP_DOC_NO, a.APP_DOC_ST, TO_CHAR(a.APP_DOC_REG_DT, 'YYYY-MM-DD HH24:MM') APP_DOC_REG_DT, a.APP_DOC_TITLE, a.EMP_NO, f.FORM_NM, a.REF_EMP_NO, a.APP_DOC_CONTENT, al.APPROVAL
			FROM APPROVAL_DOCUMENT a INNER JOIN FORM f ON a.FORM_NO = f.FORM_NO
									 LEFT OUTER JOIN APPROVAL_LINE al ON a.APP_LINE_NO = al.APP_LINE_NO
	</select>
	
	<select id="selectEmpInfo" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT e.EMP_NO, e.EMP_NM, p.POSITION_NM, d.DEPT_NM
			FROM "C##WG".EMP e LEFT OUTER JOIN "C##WG".DEPARTMENT d ON e.DEPT_NO = d.DEPT_NO
							   LEFT OUTER JOIN "C##WG".POSITION p ON e.POSITION_NO = p.POSITION_NO WHERE e.EMP_NO = 7
	</select>
	
	<select id="selectAllEmp" resultType="java.lang.String">
		SELECT e.EMP_NO, e.EMP_NM, p.POSITION_NM, d.DEPT_NM
			FROM "C##WG".EMP e LEFT OUTER JOIN "C##WG".DEPARTMENT d ON e.DEPT_NO = d.DEPT_NO
							   LEFT OUTER JOIN "C##WG".POSITION p ON e.POSITION_NO = p.POSITION_NO ORDER BY d.DEPT_NM, p.POSITION_NO DESC
	</select>
	
	
</mapper>
