<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.approval.ApprovalDaoImpl">
	
	<resultMap type="com.min.edu.vo.emp.Emp" id="AllEmpVo">
		<result property="emp_no" column="EMP_NO"/>
		<result property="emp_nm" column="EMP_NM"/>
		<result property="dept_no" column="DEPT_NO"/>
		<result property="pVo.position_nm" column="POSITION_NM"/>
	</resultMap>
	
	<resultMap type="com.min.edu.vo.approval.Approval_Doc" id="DocDetailVo">
		<result property="APP_DOC_NO" column="APP_DOC_NO"/>
		<result property="APP_DOC_ST" column="APP_DOC_ST"/>
		<result property="APP_DOC_REG_DT" column="APP_DOC_REG_DT"/>
		<result property="APP_DOC_TITLE" column="APP_DOC_TITLE"/>
		<result property="EMP_NO" column="EMP_NO"/>
		<result property="fvo.FORM_NM" column="FORM_NM"/>
		<result property="REF_EMP_NO" column="REF_EMP_NO"/>
		<result property="APP_DOC_CONTENT" column="APP_DOC_CONTENT"/>
		<result property="alvo.APPROVAL" column="APPROVAL"/>
	</resultMap>
	
	
	<select id="selectAllDoc" resultType="DocVo">
		SELECT APP_DOC_NO, APP_DOC_ST, TO_CHAR(APP_DOC_REG_DT, 'YYYY-MM-DD HH:MM') APP_DOC_REG_DT, APP_DOC_TITLE, EMP_NO, FORM_NO
			FROM "C##WG".APPROVAL_DOCUMENT
	</select>

	<select id="selectOneDoc" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT a.APP_DOC_NO, a.APP_DOC_ST, TO_CHAR(a.APP_DOC_REG_DT, 'YYYY-MM-DD HH24:MM') APP_DOC_REG_DT, 
				a.APP_DOC_TITLE, a.EMP_NO, f.FORM_NM, a.REF_EMP_NO, a.APP_DOC_CONTENT, al.APPROVAL
			FROM APPROVAL_DOCUMENT a INNER JOIN FORM f ON a.FORM_NO = f.FORM_NO
									 LEFT OUTER JOIN APPROVAL_LINE al ON a.APP_LINE_NO = al.APP_LINE_NO
	</select>
	
	<select id="selectEmpInfo" parameterType="java.lang.Integer" resultMap="AllEmpVo">
		SELECT e.EMP_NO, e.EMP_NM, p.POSITION_NM, d.DEPT_NM
			FROM "C##WG".EMP e LEFT OUTER JOIN "C##WG".DEPARTMENT d ON e.DEPT_NO = d.DEPT_NO
							   LEFT OUTER JOIN "C##WG".POSITION p ON e.POSITION_NO = p.POSITION_NO WHERE e.EMP_NO = 7
	</select>
	
	<select id="selectAllEmp" resultMap="AllEmpVo">
		SELECT e.EMP_NO, e.EMP_NM, e.DEPT_NO, p.POSITION_NM
			FROM "C##WG".EMP e LEFT OUTER JOIN "C##WG".POSITION p ON e.POSITION_NO = p.POSITION_NO ORDER BY p.POSITION_NO DESC
	</select>
	
	<select id="selectAllDept" resultType="deptVo">
		SELECT DEPT_NM, DEPT_NO
			FROM "C##WG".DEPARTMENT d ORDER BY DEPT_NO ASC
	</select>
	
	
</mapper>
