<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.EmpDaoImpl">

	<insert id="insert_emp" parameterType="empvo">
		INSERT INTO C##WG.EMP(EMP_NO, EMP_NM, PW, 
							EMAIL, PHOTO, ADDRESS, 
							TEL, HIREDATE, WORK_ST, 
							POSITION_NO, DEPT_NO)
 					VALUES(TO_CHAR(SYSDATE,'YYYYMM') || LPAD(EMP_SEQ.NEXTVAL,2,0), #{emp_nm}, DBMS_RANDOM.STRING('P', 8), 
  							#{email}, #{photo}, #{address}, 
  							#{tel}, TO_DATE(#{hiredate},'YYYY-MM-DD'), #{work_st}, 
  							#{position_no}, #{dept_no})
	</insert>

</mapper>
