<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.emp.EmpDaoImpl">

<resultMap type="empvo" id="empInsertMap">
	<id column="emp_no" property="emp_no"/>
	<result column="emp_nm" property="emp_nm"/>
	<result column="pw" property="pw"/>
	<result property="dVo.dept_nm" column="dept_nm"/>
	<result property="pVo.position_nm" column="position_nm"/>
</resultMap>

<resultMap type="empvo" id="selectAllMap">
	<id column="emp_no" property="emp_no"/>
	<result column="emp_nm" property="emp_nm"/>
	<result column="pw" property="pw"/>
	<result column="email" property="email"/>
	<result column="photo" property="photo"/>
	<result column="address" property="address"/>
	<result column="tel" property="tel"/>
	<result column="hiredate" property="hiredate"/>
	<result column="work_st" property="work_st"/>
	<result column="birth" property="birth"/>
	<result column="position_nm" property="pVo.position_nm"/>
	<result column="dept_nm" property="dVo.dept_nm"/>
</resultMap>

	<insert id="insert_emp" parameterType="empvo">
		INSERT INTO EMP
				(EMP_NO, EMP_NM, PW,
				EMAIL, PHOTO, ADDRESS, 
				TEL, HIREDATE, WORK_ST,
				BIRTH, POSITION_NO, DEPT_NO)
			VALUES(#{emp_no}, #{emp_nm}, DBMS_RANDOM.STRING('P', 8), 
				#{email}, #{photo}, #{address}, 
				#{tel}, #{hiredate}, #{work_st}, 
				#{birth}, #{position_no}, #{dept_no})
		<selectKey keyProperty="emp_no" resultType="java.lang.Integer" order="BEFORE">
			SELECT TO_CHAR(SYSDATE,'YYYYMM') || LPAD(EMP_SEQ.NEXTVAL,2,0) FROM DUAL
		</selectKey>
	</insert>
	
	<select id="selectInsertEmpInfo" parameterType="java.lang.Integer" resultMap="empInsertMap">
		SELECT e.EMP_NO, e.EMP_NM , e.PW, p.POSITION_NM , d.DEPT_NM 
   			FROM EMP e, DEPARTMENT d, "POSITION" p 
   				WHERE e.DEPT_NO=d.DEPT_NO AND e.POSITION_NO = p.POSITION_NO AND EMP_NO =#{emp_no}
	</select>
	
	<select id="selectEmpAll" resultMap="selectAllMap">
		SELECT e.EMP_NO,e.EMP_NM ,e.EMAIL ,e.PHOTO ,e.ADDRESS ,e.TEL ,e.HIREDATE ,e.BIRTH,P.POSITION_NM ,d.DEPT_NM,e.WORK_ST 
   			FROM EMP e, DEPARTMENT d, "POSITION" p 
   			WHERE e.DEPT_NO=d.DEPT_NO AND e.POSITION_NO = p.POSITION_NO ORDER BY e.EMP_NO
	</select>
	
	<select id="selectEmpByNo" parameterType="java.lang.Integer" resultType="empvo">
		SELECT EMP_NO, PW, EMP_NM, EMAIL, PHOTO, ADDRESS, TEL, HIREDATE, BIRTH, POSITION_NO, DEPT_NO, WORK_ST
			FROM EMP WHERE EMP_NO=#{emp_no}
	</select>
	
	<select id="getLogin" parameterType="java.util.Map" resultType="empvo">
		SELECT EMP_NO, EMP_NM, PW, 
				EMAIL, PHOTO, ADDRESS, 
				TEL, HIREDATE, WORK_ST, 
				BIRTH, POSITION_NO, DEPT_NO
 			FROM EMP e 
 			WHERE EMP_NO=#{emp_no} AND PW=#{pw}
	</select>
	
	<select id="selectMyPage" parameterType="java.lang.Integer" resultMap="selectAllMap">
		SELECT e.EMP_NO, e.PW, e.EMP_NM ,e.EMAIL ,e.PHOTO ,e.ADDRESS ,e.TEL ,e.HIREDATE ,P.POSITION_NM,d.DEPT_NM,e.WORK_ST ,e.BIRTH
   			FROM EMP e, DEPARTMENT d, "POSITION" p 
   			WHERE e.DEPT_NO=d.DEPT_NO AND e.POSITION_NO = p.POSITION_NO AND EMP_NO =#{emp_no}
	</select>
	
	
	<select id="getRandomPw" resultType="java.lang.String">
		SELECT DBMS_RANDOM.STRING('P', 8) FROM DUAL
	</select>
	
	<select id="getEmailByEmpno" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT EMAIL FROM EMP WHERE EMP_NO=#{emp_no}
	</select>
	
	<update id="updatePW" parameterType="empvo">
		UPDATE EMP
			SET PW=#{pw}
			WHERE EMP_NO=#{emp_no}
	</update>
	
	<select id="getSessionPW" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT PW FROM EMP WHERE EMP_NO=#{emp_no}
	</select>
	
	<select id="selectPaging" parameterType="com.min.edu.vo.emp.Emp_Page" resultMap="selectAllMap">
	SELECT DEPT_NM, EMP_NO, EMP_NM, POSITION_NM, WORK_ST 
	FROM (
		SELECT ROW_NUMBER() OVER(ORDER BY e.EMP_NO) RNUM, e.*,d.*,p.* 
			FROM EMP e , DEPARTMENT d,"POSITION" p 
				WHERE e.DEPT_NO=d.DEPT_NO AND e.POSITION_NO = p.POSITION_NO
			
			<if test="searchBy == '사원번호' and searchWord != null">
				AND e.EMP_NO LIKE LOWER('%'||#{searchWord}||'%')
			</if>
			<if test="searchBy == '이름' and searchWord != null">
				AND e.EMP_NM LIKE LOWER('%'||#{searchWord}||'%')
			</if>
			<if test="searchBy == '부서' and searchWord != null">
				AND d.DEPT_NM LIKE LOWER('%'||#{searchWord}||'%')
			</if>
			AND e.WORK_ST IN ('재직','휴직')
			ORDER BY e.EMP_NO
				) WHERE RNUM BETWEEN #{start} AND #{last}
	</select>


	<select id="selectTotalPaging" resultType="java.lang.Integer">
		SELECT NVL(COUNT(*),0) FROM EMP e , DEPARTMENT d,"POSITION" p 
			WHERE e.DEPT_NO=d.DEPT_NO AND e.POSITION_NO = p.POSITION_NO
		
		<if test="searchBy == '사원번호' and searchWord != null">
			AND e.EMP_NO LIKE LOWER('%'||#{paging.searchWord}||'%')
		</if>
		<if test="searchBy == '이름' and searchWord != null">
			AND e.EMP_NM LIKE LOWER('%'||#{paging.searchWord}||'%')
		</if>
		<if test="searchBy == '부서' and searchWord != null">
			AND d.DEPT_NM LIKE LOWER('%'||#{paging.searchWord}||'%')
		</if>
	</select>
	
	<update id="updateEmp" parameterType="empvo">
		UPDATE EMP
			SET EMP_NM=#{emp_nm}, WORK_ST=#{work_st}, POSITION_NO=#{position_no}, DEPT_NO=#{dept_no}
			WHERE EMP_NO=#{emp_no}
	</update>
	
	<update id="updateMyPage" parameterType="empvo">
		UPDATE EMP
			SET PHOTO=#{photo}, PW=#{pw}, ADDRESS=#{address}, TEL=#{tel}, EMAIL =#{email}
			WHERE EMP_NO=#{emp_no}
	</update>
	
	<update id="updateMyPage_NoPhoto" parameterType="empvo">
		UPDATE EMP
			SET ADDRESS=#{address}, PW=#{pw}, TEL=#{tel}, EMAIL =#{email}
			WHERE EMP_NO=#{emp_no}
	</update>
</mapper>
