<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.form.FormDaoImpl">

<resultMap type="com.min.edu.vo.form.Form" id="FormJoinVo">
	<result property="form_no" column="FORM_NO"/>
	<result property="form_nm" column="FORM_NM"/>
	<result property="form_reg_dt" column="FORM_REG_DT"/>
	<result property="fcdto.form_class_nm" column="FORM_CLASS_NM"/>
</resultMap>

<resultMap type="com.min.edu.vo.form.Form" id="FormDetailJoinVo">
	<result property="form_no" column="FORM_NO"/>
	<result property="form_nm" column="FORM_NM"/>
	<result property="template" column="TEMPLATE"/>
	<result property="form_reg_dt" column="FORM_REG_DT"/>
	<result property="fcdto.form_class_nm" column="FORM_CLASS_NM"/>
</resultMap>

<!-- 양식 분류 리스트 -->
<select id="selectFormcList" resultType="formcDto">
	SELECT FORM_CLASS_NO, FORM_CLASS_NM
		FROM FORM_CLASSIFICATION
</select>

<!-- 양식 리스트(조인) -->
<select id="selectFormList" resultMap="FormJoinVo">
	SELECT F.FORM_NO, F.FORM_NM, F.FORM_REG_DT, FC.FORM_CLASS_NM 
		FROM FORM f JOIN FORM_CLASSIFICATION fc 
		ON F.FORM_CLASS_NO = FC.FORM_CLASS_NO
		ORDER BY FORM_NO DESC
</select>

<!-- 양식 상세조회 -->
<select id="selectFormDetail" parameterType="java.lang.Integer" resultMap="FormDetailJoinVo">
	SELECT F.FORM_NO, F.FORM_NM, F.FORM_REG_DT, F.TEMPLATE, FC.FORM_CLASS_NM 
		FROM FORM f JOIN FORM_CLASSIFICATION fc 
		ON F.FORM_CLASS_NO = FC.FORM_CLASS_NO
		WHERE FORM_NO = #{form_no}
</select>

<insert id="insertForm" parameterType="java.util.Map">
	INSERT INTO FORM
		(FORM_NO, FORM_NM, FORM_REG_DT, TEMPLATE, FORM_CLASS_NO)
			VALUES(FORM_SEQ.NEXTVAL, #{form_nm}, sysdate, 
		<foreach item="item" collection="template" separator="||">
			TO_CLOB(#{item})
		</foreach>
			,#{form_class_no})
</insert>

<select id="searchForm" parameterType="java.lang.String" resultMap="FormJoinVo">
	SELECT F.FORM_NO, F.FORM_NM, F.FORM_REG_DT, FC.FORM_CLASS_NM 
		FROM FORM f JOIN FORM_CLASSIFICATION fc 
		ON F.FORM_CLASS_NO = FC.FORM_CLASS_NO
		WHERE LOWER(F.FORM_NM) LIKE LOWER('%'||#{formtitle}||'%')
		ORDER BY FORM_NO DESC
</select>

<select id="selectTemplate" parameterType="java.lang.Integer" resultType="java.lang.String">
	SELECT TEMPLATE 
		FROM FORM
		WHERE FORM_NO = #{forn_no}
</select>

<select id="selectForm" resultType="formDto">
	SELECT FORM_NO, FORM_NM FROM FORM ORDER BY FORM_NO ASC
</select>

<select id="selectPaging" parameterType="com.min.edu.vo.paging.PagingDto" resultMap="FormJoinVo">
	SELECT FORM_NO, FORM_NM, FORM_REG_DT, FORM_CLASS_NM
	FROM(
		SELECT f.*,fc.FORM_CLASS_NM, ROW_NUMBER () OVER (ORDER BY f.FORM_NO DESC) RNUM
			FROM FORM f JOIN FORM_CLASSIFICATION fc
			ON F.FORM_CLASS_NO = FC.FORM_CLASS_NO
		)
	WHERE RNUM BETWEEN #{start} AND #{last} 
</select>

<select id="selectTotalPaging" resultType="java.lang.Integer">
	 SELECT NVL(COUNT(*),0) FROM FORM
</select>

<select id="searchPaging" parameterType="java.util.Map" resultMap="FormJoinVo">
	SELECT FORM_NO, FORM_NM, FORM_REG_DT, FORM_CLASS_NM
	FROM(
		SELECT f.*,fc.FORM_CLASS_NM, ROW_NUMBER () OVER (ORDER BY f.FORM_NO DESC) RNUM
			FROM FORM f JOIN FORM_CLASSIFICATION fc
			ON F.FORM_CLASS_NO = FC.FORM_CLASS_NO
			WHERE LOWER(f.FORM_NM) LIKE LOWER('%'||#{formtitle}||'%')
			ORDER BY FORM_NO DESC 
		)
	WHERE RNUM BETWEEN #{start} AND #{last}
</select>

<select id="searchTotalPaging" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT NVL(COUNT(*),0) 
		FROM FORM
		WHERE LOWER(FORM_NM) LIKE LOWER('%'||#{formtitle}||'%')
		ORDER BY FORM_NO DESC
</select>
</mapper>
