<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.FormDaoImpl">

<resultMap type="com.min.edu.vo.Form" id="FormJoinVo">
	<result property="form_no" column="FORM_NO"/>
	<result property="form_nm" column="FORM_NM"/>
	<result property="form_reg_dt" column="FORM_REG_DT"/>
	<result property="fcdto.form_class_nm" column="FORM_CLASS_NM"/>
</resultMap>

<select id="selectFormcList" resultType="java.util.Map">
	SELECT FORM_CLASS_NO, FORM_CLASS_NM
		FROM FORM_CLASSIFICATION
</select>

<select id="selectFormList" resultMap="FormJoinVo">
	SELECT F.FORM_NO, F.FORM_NM, F.FORM_REG_DT, FC.FORM_CLASS_NM 
		FROM FORM f JOIN FORM_CLASSIFICATION fc 
		ON F.FORM_CLASS_NO = FC.FORM_CLASS_NO
</select>
</mapper>
