<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.SignDaoImpl">

	<select id="selectSignList" resultType="signDto">
		SELECT emp_no, sign_reg_dt, sign_exp_dt, sign_img, sign_img_size FROM SIGN s WHERE emp_no = #{emp_no}
	</select>
</mapper>
