<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.worklog.WorkLogDaoImpl">

	<resultMap type="com.min.edu.vo.worklog.WorkLog" id="worklogVo">
		<result property="worklog_no" column="WORKLOG_NO"/>
		<result property="worklog_reg_dt" column="WORKLOG_REG_DT"/>
		<result property="worklog_modify_dt" column="WORKLOG_MODIFY_DT"/>
		<result property="worklog_content" column="WORKLOG_CONTENT"/>
		<result property="worklog_delflag" column="WORKLOG_DELFLAG"/>
		<result property="emp_no" column="EMP_NO"/>
		<result property="worklog_title" column="WORKLOG_TITLE"/>
		
		<collection property="emp" resultMap="EmpVo"/>
		<collection property="position" resultMap="PositionVo"/>
	</resultMap>
	
	<resultMap type="com.min.edu.vo.emp.Emp" id="EmpVo">
		<result property="emp_no" column="EMP_NO"/>
		<result property="emp_nm" column="EMP_NM"/>
		<result property="position_no" column="POSITION_NO"/>
		<result property="dept_no" column="DEPT_NO"/>
	</resultMap>
	
	<resultMap type="com.min.edu.vo.emp.Position" id="PositionVo">
		<result property="position_no" column="POSITION_NO"/>
		<result property="position_nm" column="POSITION_NM"/>
	</resultMap>
	
	<!-- 부서별 조회 -->
	<select id="selectAllDeptWorkLog" parameterType="java.lang.Integer" resultMap="worklogVo">
		SELECT w.*, e.EMP_NM , e.DEPT_NO , p.POSITION_NM 
			FROM WORKLOG w
			LEFT JOIN EMP e 
			ON w.EMP_NO = e.EMP_NO 
			LEFT JOIN "POSITION" p 
			ON e.POSITION_NO = p.POSITION_NO
			WHERE e.DEPT_NO = #{dept_no}
			ORDER BY w.WORKLOG_NO DESC
	</select>
	
	<!-- 개인별 조회 -->
	<select id="selectAllMyWorkLog" parameterType="java.lang.Integer" resultMap="worklogVo">
		SELECT w.*, e.EMP_NM , p.POSITION_NM 
			FROM WORKLOG w
			LEFT JOIN EMP e 
			ON w.EMP_NO = e.EMP_NO 
			LEFT JOIN "POSITION" p 
			ON e.POSITION_NO = p.POSITION_NO
			WHERE w.EMP_NO = #{emp_no}
			ORDER BY w.WORKLOG_NO DESC
	</select>
	
	<!-- 상세보기 -->
	<select id="selectDetailWorkLog" parameterType="java.lang.Integer" resultMap="worklogVo">
		SELECT w.*, e.EMP_NM , e.DEPT_NO , p.POSITION_NM 
			FROM WORKLOG w
			LEFT JOIN EMP e 
			ON w.EMP_NO = e.EMP_NO 
			LEFT JOIN "POSITION" p 
			ON e.POSITION_NO = p.POSITION_NO
			WHERE WORKLOG_NO = #{worklog_no}
	</select>
	
	<!-- 작성자이름 or 내용에 해당하는 글자로 검색 -->
	<select id="searchWorkLog" parameterType="java.lang.String" resultMap="worklogVo">
				SELECT w.*, e.* , p.POSITION_NM 
					FROM WORKLOG w
					LEFT JOIN EMP e 
					ON w.EMP_NO = e.EMP_NO 
					LEFT JOIN "POSITION" p 
					ON e.POSITION_NO = p.POSITION_NO
					WHERE UPPER(e.EMP_NM) LIKE UPPER('%'||#{searchWord}||'%')
					OR UPPER(w.WORKLOG_CONTENT) LIKE UPPER('%'||#{searchWord}||'%')
					ORDER BY WORKLOG_REG_DT DESC
	</select>
	
	<!-- 업무일지 날짜로 검색 -->
	<select id="searchByDate" parameterType="java.util.Map" resultMap="worklogVo">
		<![CDATA[
		SELECT w.*, e.*, p.POSITION_NM 
			FROM WORKLOG w
			LEFT JOIN EMP e 
			ON w.EMP_NO = e.EMP_NO 
			LEFT JOIN "POSITION" p 
			ON e.POSITION_NO = p.POSITION_NO
			WHERE TO_CHAR(WORKLOG_REG_DT, 'YYYYMMDD') >= #{startDate}
			AND TO_CHAR(WORKLOG_REG_DT, 'YYYYMMDD') <= #{endDate}
			ORDER BY WORKLOG_REG_DT DESC
		]]>
	</select>
	
	<!-- 업무일지 작성 -->
	<insert id="insertWorkLog" parameterType="worklogVo">
		INSERT INTO WORKLOG
			(WORKLOG_NO, WORKLOG_CONTENT, EMP_NO)
			VALUES(WORKLOG_SEQ.NEXTVAL, #{worklog_content}, #{emp_no})
	</insert>
	
	<!-- 업무일지 내용 수정 -->
	<update id="updateWorkLogContent" parameterType="worklogVo">
		UPDATE WORKLOG
			SET WORKLOG_MODIFY_DT=SYSDATE, WORKLOG_CONTENT=#{worklog_content}
			WHERE WORKLOG_NO=#{worklog_no}
	</update>
	
	<!-- 업무일지 DELFLAG 수정 -->
	<!-- <update id="updateWorkLogDelflag" parameterType="java.util.Map">
		UPDATE WORKLOG
			SET WORKLOG_DELFLAG='Y'
			WHERE WORKLOG_NO IN
			<foreach collection="worklog_nos" item="worklog_no" open="(" separator="," close=")">
				#{worklog_no}
			</foreach>
	</update> -->
	
	<!-- 업무일지 완전 삭제 -->
	<!-- <delete id="deleteWorkLog" parameterType="java.util.Map">
		DELETE FROM WORKLOG w 
			WHERE WORKLOG_NO IN
			<foreach collection="worklog_nos" item="worklog_no" open="(" separator="," close=")">
				#{worklog_no}
			</foreach>
	</delete> -->

	<!-- emp_no 가져오기 -->
	<resultMap type="com.min.edu.vo.emp.Emp" id="EmpDeptVo">
		<result property="emp_no" column="EMP_NO"/>
		<result property="emp_nm" column="EMP_NM"/>
		<result property="photo" column="PHOTO"/>
		<result property="position_no" column="POSITION_NO"/>
		<result property="dept_no" column="DEPT_NO"/>
		<result property="dVo.dept_nm" column="DEPT_NM"/>
		<result property="pVo.position_nm" column="POSITION_NM"/>
	</resultMap>
	<select id="selectEmpNo" parameterType="java.lang.Integer" resultMap="EmpDeptVo">
		SELECT * FROM EMP e
			LEFT JOIN Department d
			ON e.dept_no = d.dept_no
			LEFT JOIN "POSITION" p
			ON e.position_no = p.position_no
			WHERE e.EMP_NO = #{emp_no}
	</select>


<!-- 페이징 -->
<select id="worklogDeptPaging" parameterType="java.lang.String" resultMap="worklogVo">
	SELECT *
	FROM(
		SELECT w.*, e.EMP_NM , e.DEPT_NO , p.POSITION_NM , ROW_NUMBER () OVER (ORDER BY w.WORKLOG_NO DESC) RNUM
			FROM WORKLOG w
			LEFT JOIN EMP e 
			ON w.EMP_NO = e.EMP_NO 
			LEFT JOIN "POSITION" p 
			ON e.POSITION_NO = p.POSITION_NO
			WHERE e.DEPT_NO = #{dept_no}
		)
	WHERE RNUM BETWEEN #{start} AND #{last} 
</select>
<select id="worklogMyPaging" parameterType="java.lang.String" resultMap="worklogVo">
	SELECT *
	FROM(
		SELECT w.*, e.EMP_NM , p.POSITION_NM , ROW_NUMBER () OVER (ORDER BY w.WORKLOG_NO DESC) RNUM
			FROM WORKLOG w
			LEFT JOIN EMP e 
			ON w.EMP_NO = e.EMP_NO 
			LEFT JOIN "POSITION" p 
			ON e.POSITION_NO = p.POSITION_NO
			WHERE w.EMP_NO = #{emp_no}
		)
	WHERE RNUM BETWEEN #{start} AND #{last} 
</select>

<select id="worklogTotalPaging" resultType="java.lang.Integer">
	 SELECT NVL(COUNT(*),0) FROM WORKLOG
</select>

<select id="worklogSWordPaging" parameterType="java.lang.String" resultMap="worklogVo">
	SELECT *
	FROM(
		SELECT w.*, e.* , p.POSITION_NM , ROW_NUMBER () OVER (ORDER BY w.WORKLOG_NO DESC) RNUM
					FROM WORKLOG w
					LEFT JOIN EMP e 
					ON w.EMP_NO = e.EMP_NO 
					LEFT JOIN "POSITION" p 
					ON e.POSITION_NO = p.POSITION_NO
					WHERE UPPER(e.EMP_NM) LIKE UPPER('%'||#{searchWord}||'%')
					OR UPPER(w.WORKLOG_CONTENT) LIKE UPPER('%'||#{searchWord}||'%')
		)
	WHERE RNUM BETWEEN #{start} AND #{last}
</select>
<select id="worklogSDatePaging" parameterType="java.util.Map" resultMap="worklogVo">
	<![CDATA[
		SELECT *
		FROM(
			SELECT w.*, e.*, p.POSITION_NM , ROW_NUMBER () OVER (ORDER BY w.WORKLOG_NO DESC) RNUM
				FROM WORKLOG w
				LEFT JOIN EMP e 
				ON w.EMP_NO = e.EMP_NO 
				LEFT JOIN "POSITION" p 
				ON e.POSITION_NO = p.POSITION_NO
				WHERE TO_CHAR(WORKLOG_REG_DT, 'YYYYMMDD') >= #{startDate}
				AND TO_CHAR(WORKLOG_REG_DT, 'YYYYMMDD') <= #{endDate}
			)
		WHERE RNUM BETWEEN #{start} AND #{last}
	]]>
</select>

<!-- <select id="searchTotalPaging" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT NVL(COUNT(*),0) 
		FROM WORKLOG
		WHERE LOWER(FORM_NM) LIKE LOWER('%'||#{formtitle}||'%')
		ORDER BY FORM_NO DESC
</select> -->

</mapper>

