@charset "UTF-8";

html, body {
		margin: 0;
		padding: 0;
	}
	
	a {
		text-decoration: none;
		width: max-content;
		height: max-content;
	}
	ul{
		list-style: none;
	}
	
	.header {
		max-width: 1300px;
		height: 80px;
		background-color: #073865 !important;
		margin: 0 auto;
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	
	#logo-image{
		width: 200px;
		height: 45px;
		background-image: url("../img/logo.png");
		background-color: white;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin: 0 auto;
	}
	
	.nav li{
		float: left;
	}
	
	.left {
        float: left;
    }
  
    .right {
    	float: right;
    	margin-right: 30px;
    	color: white;
    }
    .right .nav li {
    	margin-left: 15px;
    }
    .nav-icon {
    	width: 35px;
    	height:35px;
    	margin: 0 auto;
    	margin-right: 5px;
    	margin-top: 5px;
    }
    .nav-icon:hover {
    	cursor: pointer;
    }
    #mypage-img {
    	background-image: url("../img/user.svg");
    	background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
    }
    #alert-img {
    	background-image: url("../img/bell.svg");
    	background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
    }
    #logout-img {
    	background-image: url("../img/logoutt.svg");
    	background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
    }
    
    #container {
	display: flex;
	flex-direction: row;
	}

	.sidebar {
		background-color: #19222a;
	}
	
	.nav-flyout {
		display: none;
	}
	
	.nav1:hover>.nav-flyout {
		display: block;
	}
	
	.nav1 {
		padding: 5px;
	}
	
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
	
	.w3-sidebar>ul>li {
		padding: 5px;
		list-style: none;
		margin-top: 5px;
		margin-left: 0;
		padding-left: 0;
	}
	
	.nav-flyout a {
		text-decoration: none;
		color: #073865;
		font-size: 16px;
	}
	
	
	.nav-flyout li:hover>a {
		color: #107EE6;
	}
	
	.w3-sidebar>ul li:hover>a {
		color: #107EE6;
	}
	
	.w3-sidebar>ul li:hover>i {
		color: #107EE6;
	}
	
	.w3-sidebar>ul>li>a {
		text-decoration: none;
		color: #073865;
		font-size: 20px;
	}
	
	.w3-bar-block .w3-bar-item {
		padding: 8px 0px;
	}
	
	i {
		color: #073865;
		padding: 2px;
		padding-right: 4px;
	}
	
	.far {
		margin-top: 5px;
		margin-left: 5px;
	}
	
	.fas {
		margin-top: 5px;
		margin-left: 5px;
	}
	
	.fas:hover {
		color: black;
		cursor: pointer;
	}
	
	.li-btn {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.btn {
		width: 150px;
		height: 35px;
		margin-top: 5px;
		margin-bottom: 5px;
	}